In [7]:
 #Dependencies
import numpy as np
import pandas as pd
import datetime as dt
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func,extract

In [8]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [11]:
session = Session(engine)
results=[]
results = session.query(Measurement.date,Measurement.tobs,Measurement.prcp).\
filter(Measurement.station == 'USC00519281').\
filter(extract('month', Measurement.date) == 6).all()
print(results)

[('2010-06-01', 71.0, 0.0), ('2010-06-02', 71.0, 0.03), ('2010-06-03', 72.0, 0.0), ('2010-06-04', 72.0, 0.0), ('2010-06-05', 76.0, 0.0), ('2010-06-06', 77.0, 0.0), ('2010-06-07', 71.0, 0.12), ('2010-06-08', 73.0, 0.0), ('2010-06-09', 73.0, 0.0), ('2010-06-10', 75.0, 0.0), ('2010-06-11', 81.0, 0.0), ('2010-06-12', 74.0, 0.0), ('2010-06-13', 77.0, 0.04), ('2010-06-14', 70.0, 0.06), ('2010-06-15', 69.0, 0.11), ('2010-06-16', 70.0, 0.0), ('2010-06-17', 72.0, 0.02), ('2010-06-18', 71.0, 0.19), ('2010-06-19', 77.0, 0.33), ('2010-06-20', 76.0, 0.0), ('2010-06-21', 74.0, 0.0), ('2010-06-22', 74.0, 0.0), ('2010-06-23', 74.0, 0.02), ('2010-06-24', 74.0, 0.07), ('2010-06-25', 71.0, 0.09), ('2010-06-26', 80.0, 0.41), ('2010-06-27', 77.0, 0.05), ('2010-06-28', 72.0, 0.0), ('2010-06-29', 72.0, 0.05), ('2010-06-30', 73.0, 0.0), ('2011-06-01', 72.0, 0.22), ('2011-06-02', 73.0, 0.42), ('2011-06-03', 73.0, 0.33), ('2011-06-08', 77.0, 0.03), ('2011-06-09', 76.0, 0.05), ('2011-06-10', 79.0, 0.03), ('2011-06-11', 78.0, 0.03), ('2011-06-12', 82.0, 0.32), ('2011-06-13', 79.0, 0.05), ('2011-06-14', 76.0, 0.16), ('2011-06-15', 74.0, 0.0), ('2011-06-16', 74.0, 0.06), ('2011-06-17', 73.0, 0.03), ('2011-06-18', 79.0, 0.01), ('2011-06-19', 77.0, 0.14), ('2011-06-20', 73.0, 0.05), ('2011-06-21', 72.0, 0.57), ('2011-06-22', 72.0, 0.61), ('2011-06-23', 73.0, 0.06), ('2011-06-24', 74.0, 0.81), ('2011-06-25', 77.0, 0.01), ('2011-06-26', 73.0, 0.11), ('2011-06-27', 73.0, 0.09), ('2011-06-28', 72.0, 0.12), ('2011-06-29', 72.0, 0.08), ('2011-06-30', 67.0, 0.03), ('2012-06-01', 71.0, 0.02), ('2012-06-02', 73.0, 0.08), ('2012-06-03', 78.0, 0.0), ('2012-06-04', 71.0, 0.0), ('2012-06-05', 72.0, 0.0), ('2012-06-06', 70.0, 0.1), ('2012-06-07', 72.0, 0.07), ('2012-06-08', 73.0, 0.01), ('2012-06-09', 74.0, 0.0), ('2012-06-10', 81.0, 0.0), ('2012-06-11', 72.0, 0.11), ('2012-06-12', 77.0, 0.16), ('2012-06-13', 69.0, 0.07), ('2012-06-14', 69.0, 0.21), ('2012-06-15', 69.0, 0.0), ('2012-06-16', 78.0, 0.0), ('2012-06-17', 78.0, 0.02), ('2012-06-18', 73.0, 0.0), ('2012-06-19', 72.0, 0.02), ('2012-06-20', 71.0, 0.33), ('2012-06-21', 72.0, 0.26), ('2012-06-22', 72.0, 0.03), ('2012-06-23', 73.0, 0.35), ('2012-06-24', 71.0, 0.14), ('2012-06-25', 70.0, 0.13), ('2012-06-26', 71.0, 0.22), ('2012-06-27', 68.0, 0.43), ('2012-06-28', 72.0, 0.01), ('2012-06-29', 71.0, 0.14), ('2012-06-30', 78.0, 0.01), ('2013-06-01', 81.0, 0.06), ('2013-06-02', 74.0, 0.17), ('2013-06-03', 74.0, 0.08), ('2013-06-04', 73.0, 0.0), ('2013-06-05', 73.0, 0.0), ('2013-06-06', 72.0, 0.0), ('2013-06-07', 73.0, 0.0), ('2013-06-08', 77.0, 0.0), ('2013-06-09', 73.0, 0.0), ('2013-06-10', 73.0, 0.01), ('2013-06-11', 75.0, 0.02), ('2013-06-12', 72.0, 0.0), ('2013-06-13', 72.0, 0.1), ('2013-06-14', 73.0, 0.16), ('2013-06-15', 73.0, 0.1), ('2013-06-16', 75.0, 0.03), ('2013-06-17', 72.0, 0.05), ('2013-06-18', 73.0, 0.04), ('2013-06-19', 70.0, 0.01), ('2013-06-20', 69.0, 0.02), ('2013-06-21', 68.0, 0.53), ('2013-06-22', 75.0, 0.88), ('2013-06-23', 74.0, 0.03), ('2013-06-24', 73.0, 0.22), ('2013-06-25', 70.0, 0.36), ('2013-06-26', 70.0, 0.82), ('2013-06-27', 71.0, 0.07), ('2013-06-28', 70.0, 0.04), ('2013-06-29', 70.0, 0.43), ('2013-06-30', 75.0, 0.71), ('2014-06-01', 74.0, 0.07), ('2014-06-02', 72.0, 0.06), ('2014-06-03', 74.0, 0.0), ('2014-06-04', 73.0, 0.01), ('2014-06-05', 73.0, 0.01), ('2014-06-06', 70.0, 0.19), ('2014-06-07', 73.0, 0.2), ('2014-06-08', 75.0, 0.18), ('2014-06-09', 73.0, 0.04), ('2014-06-10', 69.0, 0.22), ('2014-06-11', 80.0, 0.37), ('2014-06-12', 73.0, 0.02), ('2014-06-13', 72.0, 0.0), ('2014-06-14', 80.0, 0.02), ('2014-06-15', 80.0, 0.02), ('2014-06-16', 69.0, 0.03), ('2014-06-17', 70.0, 0.29), ('2014-06-18', 69.0, 0.17), ('2014-06-19', 72.0, 0.04), ('2014-06-20', 68.0, 0.16), ('2014-06-21', 74.0, 0.22), ('2014-06-22', 75.0, 0.04), ('2014-06-23', 70.0, 0.31), ('2014-06-24', 70.0, 0.08), ('2014-06-25', 72.0, 0.23), ('2014-06-26', 71.0, 0.31), ('2014-06-27', 70.0, 0.12), ('2014-06-28', 77.0, 0.6), ('2014-06-29', 73.0, 0.48), ('2014-06-30', 71.0, 0.01), ('2015-06-01', 76.0, 0.46), ('2015-06-02', 68.0, 0.02), ('2015-06-03', 71.0, 0.0), ('2015-06-04', 70.0, 1.24), ('2015-06-05', 68.0, 0.06), ('2015-06-06', 79.0, 0.0), ('2015-06-07', 75.0, 0.07), ('2015-06-08', 71.0, 0.01), ('2015-06-09', 69.0, 0.34), ('2015-06-10', 71.0, 0.03), ('2015-06-11', 72.0, 0.03), ('2015-06-12', 69.0, 0.08), ('2015-06-13', 72.0, 0.01), ('2015-06-14', 75.0, 0.05), ('2015-06-15', 71.0, 0.03), ('2015-06-16', 72.0, 0.01), ('2015-06-17', 70.0, 0.15), ('2015-06-18', 71.0, 0.45), ('2015-06-19', 72.0, 0.19), ('2015-06-20', 75.0, 0.13), ('2015-06-21', 75.0, 0.05), ('2015-06-22', 71.0, 0.05), ('2015-06-23', 73.0, 0.03), ('2015-06-24', 71.0, 0.17), ('2015-06-25', 71.0, 0.21), ('2015-06-26', 74.0, 0.02), ('2015-06-27', 74.0, 0.21), ('2015-06-28', 78.0, 0.02), ('2015-06-29', 72.0, 0.27), ('2015-06-30', 69.0, 0.16), ('2016-06-01', 69.0, 1.39), ('2016-06-02', 67.0, 0.5), ('2016-06-03', 68.0, 0.02), ('2016-06-04', 65.0, 0.0), ('2016-06-05', 70.0, 0.22), ('2016-06-06', 72.0, 0.52), ('2016-06-07', 74.0, 0.35), ('2016-06-08', 73.0, 0.0), ('2016-06-09', 71.0, 0.29), ('2016-06-10', 75.0, 0.62), ('2016-06-11', 72.0, 0.13), ('2016-06-12', 75.0, 0.28), ('2016-06-13', 76.0, 0.02), ('2016-06-14', 75.0, 0.2), ('2016-06-15', 76.0, 0.68), ('2016-06-16', 75.0, 0.05), ('2016-06-17', 71.0, 0.29), ('2016-06-18', 75.0, 0.4), ('2016-06-19', 75.0, 0.05), ('2016-06-20', 72.0, 0.4), ('2016-06-21', 72.0, 0.04), ('2016-06-22', 75.0, 0.13), ('2016-06-23', 73.0, 0.39), ('2016-06-24', 76.0, 0.12), ('2016-06-25', 74.0, 0.75), ('2016-06-26', 77.0, 0.03), ('2016-06-27', 72.0, 0.37), ('2016-06-28', 71.0, 0.23), ('2016-06-29', 76.0, 0.1), ('2016-06-30', 77.0, 0.01), ('2017-06-01', 80.0, 0.0), ('2017-06-02', 76.0, 0.09), ('2017-06-03', 76.0, 0.08), ('2017-06-04', 77.0, 0.13), ('2017-06-05', 75.0, 0.05), ('2017-06-06', 75.0, 0.0), ('2017-06-07', 75.0, 0.0), ('2017-06-08', 75.0, 0.0), ('2017-06-09', 72.0, 0.02), ('2017-06-10', 74.0, 0.62), ('2017-06-11', 74.0, 0.74), ('2017-06-12', 74.0, 0.24), ('2017-06-13', 76.0, 0.24), ('2017-06-14', 74.0, 0.22), ('2017-06-15', 75.0, 0.55), ('2017-06-16', 73.0, 0.06), ('2017-06-17', 79.0, 0.07), ('2017-06-18', 75.0, 0.24), ('2017-06-19', 72.0, 0.08), ('2017-06-20', 72.0, 0.0), ('2017-06-21', 74.0, 0.19), ('2017-06-22', 72.0, 0.06), ('2017-06-23', 72.0, 0.12), ('2017-06-24', 77.0, 0.36), ('2017-06-25', 71.0, 0.02), ('2017-06-26', 73.0, 0.06), ('2017-06-27', 76.0, 0.01), ('2017-06-28', 77.0, 0.0), ('2017-06-29', 76.0, 0.0), ('2017-06-30', 76.0, 0.01)]

In [12]:
df = pd.DataFrame(results, columns=['Date','Temprature','Precipitation'])
df.set_index(df['Date'], inplace=True)
df

                  Date  Temprature  Precipitation
Date
2010-06-01  2010-06-01        71.0           0.00
2010-06-02  2010-06-02        71.0           0.03
2010-06-03  2010-06-03        72.0           0.00
2010-06-04  2010-06-04        72.0           0.00
2010-06-05  2010-06-05        76.0           0.00
...                ...         ...            ...
2017-06-26  2017-06-26        73.0           0.06
2017-06-27  2017-06-27        76.0           0.01
2017-06-28  2017-06-28        77.0           0.00
2017-06-29  2017-06-29        76.0           0.00
2017-06-30  2017-06-30        76.0           0.01

[236 rows x 3 columns]

In [13]:
df.describe()

       Temprature  Precipitation
count  236.000000     236.000000
mean    73.271186       0.151525
std      2.989801       0.213496
min     65.000000       0.000000
25%     71.000000       0.010000
50%     73.000000       0.060000
75%     75.000000       0.212500
max     82.000000       1.390000

In [14]:
results=[]
results = session.query(Measurement.date,Measurement.tobs,Measurement.prcp).\
filter(Measurement.station == 'USC00519281').\
filter(extract('month', Measurement.date) == 12).all()
print(results)

[('2010-12-01', 72.0, 1.35), ('2010-12-02', 71.0, 0.16), ('2010-12-03', 72.0, 0.47), ('2010-12-04', 74.0, 0.0), ('2010-12-05', 66.0, 0.0), ('2010-12-06', 61.0, 0.0), ('2010-12-07', 58.0, 0.0), ('2010-12-08', 60.0, 0.0), ('2010-12-09', 71.0, 0.07), ('2010-12-10', 65.0, 1.72), ('2010-12-11', 72.0, 0.89), ('2010-12-12', 70.0, 0.31), ('2010-12-13', 68.0, 0.22), ('2010-12-14', 67.0, 0.02), ('2010-12-15', 71.0, 0.0), ('2010-12-16', 65.0, 0.0), ('2010-12-17', 64.0, 0.0), ('2010-12-18', 65.0, 0.0), ('2010-12-19', 69.0, 2.77), ('2010-12-20', 70.0, 3.06), ('2010-12-21', 70.0, 0.71), ('2010-12-22', 68.0, 0.02), ('2010-12-23', 69.0, 0.23), ('2010-12-24', 71.0, 0.02), ('2010-12-25', 70.0, 3.14), ('2010-12-26', 71.0, 2.49), ('2010-12-27', 76.0, 0.13), ('2010-12-28', 71.0, 0.58), ('2010-12-29', 72.0, 0.06), ('2010-12-30', 73.0, 0.04), ('2010-12-31', 77.0, 0.1), ('2011-12-01', 67.0, 0.05), ('2011-12-02', 69.0, 0.29), ('2011-12-03', 72.0, 0.07), ('2011-12-04', 74.0, 0.02), ('2011-12-05', 71.0, 0.01), ('2011-12-06', 70.0, 0.0), ('2011-12-07', 68.0, 0.05), ('2011-12-08', 70.0, 0.0), ('2011-12-09', 66.0, 0.1), ('2011-12-10', 72.0, 0.23), ('2011-12-11', 70.0, 1.16), ('2011-12-12', 70.0, 0.65), ('2011-12-13', 70.0, 1.02), ('2011-12-14', 70.0, 0.07), ('2011-12-15', 73.0, 0.3), ('2011-12-16', 71.0, 0.03), ('2011-12-17', 69.0, 0.38), ('2011-12-18', 73.0, 0.1), ('2011-12-19', 72.0, 0.29), ('2011-12-20', 71.0, 0.01), ('2011-12-21', 69.0, 0.58), ('2011-12-22', 70.0, 0.11), ('2011-12-23', 69.0, 0.12), ('2011-12-24', 70.0, 0.11), ('2011-12-25', 75.0, 0.04), ('2011-12-26', 71.0, 0.0), ('2011-12-27', 70.0, 0.05), ('2011-12-28', 69.0, 0.02), ('2011-12-29', 71.0, 0.0), ('2011-12-30', 65.0, 0.01), ('2011-12-31', 67.0, 0.1), ('2012-12-01', 72.0, 0.0), ('2012-12-02', 67.0, 0.0), ('2012-12-03', 76.0, 0.0), ('2012-12-04', 67.0, 0.02), ('2012-12-05', 72.0, 0.32), ('2012-12-06', 69.0, 0.01), ('2012-12-07', 66.0, 0.0), ('2012-12-08', 75.0, 0.0), ('2012-12-09', 74.0, 0.0), ('2012-12-10', 72.0, 0.08), ('2012-12-11', 72.0, 0.0), ('2012-12-12', 72.0, 0.02), ('2012-12-13', 68.0, 0.13), ('2012-12-14', 74.0, 0.25), ('2012-12-15', 73.0, 0.21), ('2012-12-16', 73.0, 0.08), ('2012-12-17', 72.0, 0.14), ('2012-12-18', 70.0, 0.46), ('2012-12-19', 70.0, 0.25), ('2012-12-20', 71.0, 0.34), ('2012-12-21', 70.0, 0.05), ('2012-12-22', 72.0, 0.01), ('2012-12-23', 65.0, 0.1), ('2012-12-24', 62.0, 0.0), ('2012-12-25', 73.0, 0.04), ('2012-12-26', 71.0, 0.0), ('2012-12-27', 70.0, 0.0), ('2012-12-28', 62.0, 0.0), ('2012-12-29', 69.0, 0.01), ('2012-12-30', 69.0, 0.35), ('2012-12-31', 66.0, 0.42), ('2013-12-01', 72.0, 0.12), ('2013-12-02', 73.0, 1.71), ('2013-12-03', 70.0, 0.57), ('2013-12-04', 66.0, 0.01), ('2013-12-05', 64.0, 0.0), ('2013-12-06', 65.0, 0.0), ('2013-12-07', 73.0, 0.01), ('2013-12-08', 74.0, 0.0), ('2013-12-09', 67.0, 0.0), ('2013-12-10', 73.0, 0.04), ('2013-12-11', 70.0, 0.17), ('2013-12-12', 67.0, 0.03), ('2013-12-13', 71.0, 0.04), ('2013-12-14', 78.0, 0.08), ('2013-12-15', 69.0, 0.06), ('2013-12-16', 63.0, 1.97), ('2013-12-17', 64.0, 0.02), ('2013-12-18', 66.0, 0.02), ('2013-12-19', 69.0, 0.77), ('2013-12-20', 69.0, 1.14), ('2013-12-21', 71.0, 0.07), ('2013-12-22', 72.0, 0.03), ('2013-12-23', 69.0, 0.06), ('2013-12-24', 70.0, 0.09), ('2013-12-25', 73.0, 0.03), ('2013-12-26', 68.0, 0.05), ('2013-12-27', 69.0, 0.01), ('2013-12-28', 73.0, 0.01), ('2013-12-29', 73.0, 0.0), ('2013-12-30', 70.0, 0.0), ('2013-12-31', 65.0, 0.08), ('2014-12-01', 70.0, 0.0), ('2014-12-02', 68.0, 0.0), ('2014-12-03', 68.0, 0.41), ('2014-12-04', 66.0, 1.56), ('2014-12-05', 68.0, 0.04), ('2014-12-06', 65.0, 0.63), ('2014-12-07', 62.0, 0.01), ('2014-12-08', 62.0, 0.0), ('2014-12-09', 65.0, 0.0), ('2014-12-10', 61.0, 0.0), ('2014-12-11', 70.0, 0.21), ('2014-12-12', 68.0, 0.07), ('2014-12-13', 67.0, 0.01), ('2014-12-14', 68.0, 0.13), ('2014-12-15', 71.0, 0.0), ('2014-12-16', 69.0, 0.08), ('2014-12-17', 71.0, 0.07), ('2014-12-18', 71.0, 0.11), ('2014-12-19', 71.0, 0.08), ('2014-12-20', 72.0, 0.0), ('2014-12-21', 72.0, 0.0), ('2014-12-22', 68.0, 0.0), ('2014-12-23', 69.0, 1.07), ('2014-12-24', 66.0, 1.1), ('2014-12-25', 60.0, 0.36), ('2014-12-26', 63.0, 0.0), ('2014-12-27', 68.0, 0.0), ('2014-12-28', 64.0, 0.0), ('2014-12-29', 63.0, 0.0), ('2014-12-30', 63.0, 0.0), ('2014-12-31', 59.0, 0.66), ('2015-12-01', 73.0, 0.02), ('2015-12-02', 74.0, 0.02), ('2015-12-03', 75.0, 0.22), ('2015-12-04', 75.0, 0.03), ('2015-12-05', 70.0, 0.0), ('2015-12-06', 72.0, 0.1), ('2015-12-07', 69.0, 0.02), ('2015-12-08', 68.0, 0.02), ('2015-12-09', 74.0, 0.08), ('2015-12-10', 72.0, 0.1), ('2015-12-11', 75.0, 0.15), ('2015-12-12', 79.0, 0.31), ('2015-12-13', 69.0, 0.03), ('2015-12-14', 67.0, 0.13), ('2015-12-15', 73.0, 0.35), ('2015-12-16', 74.0, 0.03), ('2015-12-17', 75.0, 0.09), ('2015-12-18', 72.0, 0.17), ('2015-12-19', 76.0, 0.13), ('2015-12-20', 74.0, 0.05), ('2015-12-21', 75.0, 0.15), ('2015-12-22', 74.0, 0.04), ('2015-12-23', 74.0, 0.1), ('2015-12-24', 76.0, 0.45), ('2015-12-25', 74.0, 0.47), ('2015-12-26', 75.0, 0.22), ('2015-12-27', 75.0, 0.8), ('2015-12-28', 73.0, 0.0), ('2015-12-29', 76.0, 0.16), ('2015-12-30', 74.0, 0.5), ('2015-12-31', 73.0, 0.09), ('2016-12-01', 74.0, 0.37), ('2016-12-02', 70.0, 0.35), ('2016-12-03', 72.0, 0.77), ('2016-12-04', 70.0, 0.04), ('2016-12-05', 67.0, 0.22), ('2016-12-06', 67.0, 0.0), ('2016-12-07', 69.0, 0.12), ('2016-12-08', 70.0, 0.07), ('2016-12-09', 68.0, 0.31), ('2016-12-10', 69.0, 0.02), ('2016-12-11', 69.0, 0.0), ('2016-12-12', 66.0, 0.0), ('2016-12-13', 65.0, 0.04), ('2016-12-14', 68.0, 0.92), ('2016-12-15', 62.0, 0.14), ('2016-12-16', 75.0, 0.03), ('2016-12-17', 70.0, 0.07), ('2016-12-18', 69.0, 0.16), ('2016-12-19', 76.0, 0.03), ('2016-12-20', 76.0, 0.0), ('2016-12-21', 74.0, 0.11), ('2016-12-22', 73.0, 0.86), ('2016-12-23', 71.0, 0.24), ('2016-12-24', 74.0, 0.2), ('2016-12-25', 74.0, 0.02), ('2016-12-26', 72.0, 0.22), ('2016-12-27', 71.0, 0.05), ('2016-12-28', 72.0, 0.09), ('2016-12-29', 74.0, 0.52), ('2016-12-30', 69.0, 0.29), ('2016-12-31', 67.0, 0.25)]

In [16]:
df_dec = pd.DataFrame(results, columns=['Date','Temprature','Precipitation'])
df_dec.set_index(df_dec['Date'], inplace=True)
df_dec

                  Date  Temprature  Precipitation
Date
2010-12-01  2010-12-01        72.0           1.35
2010-12-02  2010-12-02        71.0           0.16
2010-12-03  2010-12-03        72.0           0.47
2010-12-04  2010-12-04        74.0           0.00
2010-12-05  2010-12-05        66.0           0.00
...                ...         ...            ...
2016-12-27  2016-12-27        71.0           0.05
2016-12-28  2016-12-28        72.0           0.09
2016-12-29  2016-12-29        74.0           0.52
2016-12-30  2016-12-30        69.0           0.29
2016-12-31  2016-12-31        67.0           0.25

[217 rows x 3 columns]

In [17]:
df_dec.describe()

       Temprature  Precipitation
count  217.000000     217.000000
mean    69.903226       0.244931
std      3.803609       0.489789
min     58.000000       0.000000
25%     68.000000       0.010000
50%     70.000000       0.070000
75%     73.000000       0.230000
max     79.000000       3.140000